@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 44px;
  padding: 50px;
  line-height: 1.5;
  color: #777;
  background-color: #fff; 
}
.navbar-links {
  width: 100%; 
  margin-top: -50px;
  margin-bottom: 20px;
}
.navbar-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}
.navbar-links ul li {
  list-style: none;
  padding: 20px;
}
.navbar-links ul li a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  font-size: 45px; 
}

h1 {
  margin:50px; 
  font-size:100px;
  border:1px solid #292929;
  padding:70px;
  color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
h2 { 
  margin-left:200px;
  font-size:50px;
  padding:10px;
  color: #292929;
  font-family:Arial, Helvetica, sans-serif;
}
h3 {
  margin-left:200px;
  font-size:50px;
  padding:10px;color: #292929;font-family:Arial, Helvetica, sans-serif;
}
p {
  line-height:1.2;
  margin-bottom:50px;
  color:orange;
  margin-left: 100px;
}
figure {
  border: 1px solid orange;  
}
figure img {
  width: 100%;
  border: 3px solid #007A5C;  
}