*{
    box-sizing: border-box;
}

/* social-media-links row */
.social-media-links {
    display: grid;
    width: 100%; 
    grid-gap: 10px; 
    margin: 0px;
    padding: 0px;
    border: 1px solid #007A5C;
    width: fit-content;
  }
  .social-media-links p {   
      color: #007A5C;
      font-size: 62px;
  }
  .social-media-links ul {
      padding: 20px;
      padding: 100px;
  }
  .social-media-links ul li {
      list-style: none;
      font-size: 30px;
      padding-right: 300px;
    } 
  .social-media-links ul li a {
      font-family: Arial, Helvetica, sans-serif;
      color: #007A5C;
      font-size: 22px;
      font-size: 35px;
      text-decoration: none;
  }
/* end social-media-links row */

/* footer row links */
.footer-links {
    width: 100%;
    margin: 50px;
    margin-bottom: 20px;
  }
  .footer-links ul {
      width: 100%;
      padding: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .footer-links ul li {
      list-style: none;
      padding: 20px;
  } 
  .footer-links ul li a {
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      font-weight: bold;
      color: orange;
      text-decoration: none;
      font-size: 50px;
  }
  /* end footer-links row */